// Import page-specific CSS files here.
@import "home";

.container-vanshowpage {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  flex-grow: 1;
  grid-gap: 10px;
  padding: 10px;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 15px;
  height: 310px;
  width: 100%;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  max-width: 300px;
}

.fa-bitcoin{
  color: #F78F15;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-trip:hover {
  width: 520px;
  transition-duration: 100ms;
}

a {
  text-decoration: none;
  color: black;
}
