.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: auto;
  height: 100%;
  background-position-y: 118%;

}

.banner h1 {
  margin: 0;
  color: #ffffff;;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: #ffffff;;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-left: 0px !important;
  margin-top: 1px;
  text-shadow: 1px 1px #000000;
}

.btn {
  color: white;
}

.btn-banner {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  margin-right: 10px;
  text-decoration: none !important;
  display: flex;
  border: 1px solid #ffffff;
  display: inline-block;
  margin-top: 15px;
}

.btn-banner:hover
{
  color: #ffcccc;
  border: 1px solid #ffcccc;
  padding: 8px 24px;
  transition: opacity 0.3s ease;
  display: inline-block;
}
