// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "vans/show";
@import "bookings/booking";

// css for your bookings index page
//@import "bookings/bookings";

// Map Box search
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

.container-center {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
