
.booking-list {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.btn-checkout_book {
  color: #000000;
  padding: 8px 24px;
  border-radius: 50px;
  margin-right: 10px;
  text-decoration: none !important;
  display: flex;
  background-color: #96ccf8;
  border: 1px solid transparent;
  font-size: 22px;

}

.btn-checkout_book:hover
{
  color: #000000;
  border: 1px solid #b5d8f5;
  transition: opacity 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

input[type="date"]{
border: 2px solid #96ccf8;;
border-radius: 50px;
font-size: 20px;
padding: 8px 24px;

}

input[type="date"]:hover{
  background-color: rgba(175, 217, 254, .4);

}