<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1597151116153-d2e8cb44fe41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);">
  <div class="container">
    <h1>Vanish, <strong>Begin</strong> your <strong>Journey</strong>!</h1>
    <p>Destination: wherever you want to be.</p>
    <a class="btn" href="/vans">Start Here</a>
  </div>
</div>
