<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <!-- here we need to get information from the back end to populate our cards -->
    <h5 class="card-title">Name of Van</h5>
    <p class="card-text">Description from user about van.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Kitchen</li>
    <li class="list-group-item">Bathroom</li>
    <li class="list-group-item">Stuff</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Rent</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
